<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="targetColumn" type="xstring" value="income"/>
        <entry key="seed" type="xstring" value="1763726355937"/>
        <entry key="maxLevels" type="xint" value="-1"/>
        <entry key="minNodeSize" type="xint" value="-1"/>
        <entry key="minChildSize" type="xint" value="-1"/>
        <entry key="dataFraction" type="xdouble" value="1.0"/>
        <entry key="isDataSelectionWithReplacement" type="xboolean" value="true"/>
        <entry key="hardCodedRootColumn" type="xstring" isnull="true" value=""/>
        <entry key="columnSamplingMode" type="xstring" value="SquareRoot"/>
        <entry key="columnFractionPerTree" type="xdouble" value="1.0"/>
        <entry key="columnAbsolutePerTree" type="xint" value="10"/>
        <entry key="isUseDifferentAttributesAtEachNode" type="xboolean" value="true"/>
        <entry key="nrModels" type="xint" value="100"/>
        <entry key="splitCriterion" type="xstring" value="InformationGainRatio"/>
        <entry key="missingValueHandling" type="xstring" value="XGBoost"/>
        <entry key="useAverageSplitPoints" type="xboolean" value="true"/>
        <entry key="useBinaryNominalSplits" type="xboolean" value="true"/>
        <entry key="fingerprintColumn" type="xstring" isnull="true" value=""/>
        <config key="columnFilterConfig">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="103"/>
                <entry key="0" type="xstring" value="age"/>
                <entry key="1" type="xstring" value="fnlwgt"/>
                <entry key="2" type="xstring" value="capital-gain"/>
                <entry key="3" type="xstring" value="capital-loss"/>
                <entry key="4" type="xstring" value="hours-per-week"/>
                <entry key="5" type="xstring" value="educational-num"/>
                <entry key="6" type="xstring" value="Private_workclass"/>
                <entry key="7" type="xstring" value="Local-gov_workclass"/>
                <entry key="8" type="xstring" value="_workclass"/>
                <entry key="9" type="xstring" value="Self-emp-not-inc_workclass"/>
                <entry key="10" type="xstring" value="Federal-gov_workclass"/>
                <entry key="11" type="xstring" value="State-gov_workclass"/>
                <entry key="12" type="xstring" value="Self-emp-inc_workclass"/>
                <entry key="13" type="xstring" value="Without-pay_workclass"/>
                <entry key="14" type="xstring" value="Never-worked_workclass"/>
                <entry key="15" type="xstring" value="11th_education"/>
                <entry key="16" type="xstring" value="HS-grad_education"/>
                <entry key="17" type="xstring" value="Assoc-acdm_education"/>
                <entry key="18" type="xstring" value="Some-college_education"/>
                <entry key="19" type="xstring" value="10th_education"/>
                <entry key="20" type="xstring" value="Prof-school_education"/>
                <entry key="21" type="xstring" value="7th-8th_education"/>
                <entry key="22" type="xstring" value="Bachelors_education"/>
                <entry key="23" type="xstring" value="Masters_education"/>
                <entry key="24" type="xstring" value="Doctorate_education"/>
                <entry key="25" type="xstring" value="5th-6th_education"/>
                <entry key="26" type="xstring" value="Assoc-voc_education"/>
                <entry key="27" type="xstring" value="9th_education"/>
                <entry key="28" type="xstring" value="12th_education"/>
                <entry key="29" type="xstring" value="1st-4th_education"/>
                <entry key="30" type="xstring" value="Preschool_education"/>
                <entry key="31" type="xstring" value="Never-married_marital-status"/>
                <entry key="32" type="xstring" value="Married-civ-spouse_marital-status"/>
                <entry key="33" type="xstring" value="Widowed_marital-status"/>
                <entry key="34" type="xstring" value="Divorced_marital-status"/>
                <entry key="35" type="xstring" value="Separated_marital-status"/>
                <entry key="36" type="xstring" value="Married-spouse-absent_marital-status"/>
                <entry key="37" type="xstring" value="Married-AF-spouse_marital-status"/>
                <entry key="38" type="xstring" value="Machine-op-inspct_occupation"/>
                <entry key="39" type="xstring" value="Farming-fishing_occupation"/>
                <entry key="40" type="xstring" value="Protective-serv_occupation"/>
                <entry key="41" type="xstring" value="_occupation"/>
                <entry key="42" type="xstring" value="Other-service_occupation"/>
                <entry key="43" type="xstring" value="Prof-specialty_occupation"/>
                <entry key="44" type="xstring" value="Craft-repair_occupation"/>
                <entry key="45" type="xstring" value="Adm-clerical_occupation"/>
                <entry key="46" type="xstring" value="Exec-managerial_occupation"/>
                <entry key="47" type="xstring" value="Tech-support_occupation"/>
                <entry key="48" type="xstring" value="Sales_occupation"/>
                <entry key="49" type="xstring" value="Priv-house-serv_occupation"/>
                <entry key="50" type="xstring" value="Transport-moving_occupation"/>
                <entry key="51" type="xstring" value="Handlers-cleaners_occupation"/>
                <entry key="52" type="xstring" value="Armed-Forces_occupation"/>
                <entry key="53" type="xstring" value="Own-child_relationship"/>
                <entry key="54" type="xstring" value="Husband_relationship"/>
                <entry key="55" type="xstring" value="Not-in-family_relationship"/>
                <entry key="56" type="xstring" value="Unmarried_relationship"/>
                <entry key="57" type="xstring" value="Wife_relationship"/>
                <entry key="58" type="xstring" value="Other-relative_relationship"/>
                <entry key="59" type="xstring" value="United-States_native-country"/>
                <entry key="60" type="xstring" value="_native-country"/>
                <entry key="61" type="xstring" value="Peru_native-country"/>
                <entry key="62" type="xstring" value="Guatemala_native-country"/>
                <entry key="63" type="xstring" value="Mexico_native-country"/>
                <entry key="64" type="xstring" value="Dominican-Republic_native-country"/>
                <entry key="65" type="xstring" value="Ireland_native-country"/>
                <entry key="66" type="xstring" value="Germany_native-country"/>
                <entry key="67" type="xstring" value="Philippines_native-country"/>
                <entry key="68" type="xstring" value="Thailand_native-country"/>
                <entry key="69" type="xstring" value="Haiti_native-country"/>
                <entry key="70" type="xstring" value="El-Salvador_native-country"/>
                <entry key="71" type="xstring" value="Puerto-Rico_native-country"/>
                <entry key="72" type="xstring" value="Vietnam_native-country"/>
                <entry key="73" type="xstring" value="South_native-country"/>
                <entry key="74" type="xstring" value="Columbia_native-country"/>
                <entry key="75" type="xstring" value="Japan_native-country"/>
                <entry key="76" type="xstring" value="India_native-country"/>
                <entry key="77" type="xstring" value="Cambodia_native-country"/>
                <entry key="78" type="xstring" value="Poland_native-country"/>
                <entry key="79" type="xstring" value="Laos_native-country"/>
                <entry key="80" type="xstring" value="England_native-country"/>
                <entry key="81" type="xstring" value="Cuba_native-country"/>
                <entry key="82" type="xstring" value="Taiwan_native-country"/>
                <entry key="83" type="xstring" value="Italy_native-country"/>
                <entry key="84" type="xstring" value="Canada_native-country"/>
                <entry key="85" type="xstring" value="Portugal_native-country"/>
                <entry key="86" type="xstring" value="China_native-country"/>
                <entry key="87" type="xstring" value="Nicaragua_native-country"/>
                <entry key="88" type="xstring" value="Honduras_native-country"/>
                <entry key="89" type="xstring" value="Iran_native-country"/>
                <entry key="90" type="xstring" value="Scotland_native-country"/>
                <entry key="91" type="xstring" value="Jamaica_native-country"/>
                <entry key="92" type="xstring" value="Ecuador_native-country"/>
                <entry key="93" type="xstring" value="Yugoslavia_native-country"/>
                <entry key="94" type="xstring" value="Hungary_native-country"/>
                <entry key="95" type="xstring" value="Hong_native-country"/>
                <entry key="96" type="xstring" value="Greece_native-country"/>
                <entry key="97" type="xstring" value="Trinadad&amp;Tobago_native-country"/>
                <entry key="98" type="xstring" value="Outlying-US(Guam-USVI-etc)_native-country"/>
                <entry key="99" type="xstring" value="France_native-country"/>
                <entry key="100" type="xstring" value="Holand-Netherlands_native-country"/>
                <entry key="101" type="xstring" value="Male_gender"/>
                <entry key="102" type="xstring" value="Female_gender"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="7"/>
                <entry key="0" type="xstring" value="workclass"/>
                <entry key="1" type="xstring" value="education"/>
                <entry key="2" type="xstring" value="marital-status"/>
                <entry key="3" type="xstring" value="occupation"/>
                <entry key="4" type="xstring" value="relationship"/>
                <entry key="5" type="xstring" value="native-country"/>
                <entry key="6" type="xstring" value="gender"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
        <entry key="ignoreColumnsWithoutDomain" type="xboolean" value="true"/>
        <entry key="nrHilitePatterns" type="xint" value="-1"/>
        <entry key="saveTargetDistributionInNodes" type="xboolean" value="false"/>
        <entry key="rowSamplingMode" type="xstring" value="Random"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.mine.treeensemble2.node.randomforest.learner.classification.RandomForestClassificationLearnerNodeFactory2"/>
    <entry key="node-name" type="xstring" value="Random Forest Learner"/>
    <entry key="node-bundle-name" type="xstring" value="Decisions Tree Ensembles for KNIME"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base.treeensembles2"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.6.0.v202507151410"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Ensemble Learning Wrappers"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.ensembles.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.6.0.v202507151410"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Random Forest Learner"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 43958, Cols: 116"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 103, Cols: 6"/>
            <entry key="port_dir_location" type="xstring" value="port_2"/>
        </config>
        <config key="port_3">
            <entry key="index" type="xint" value="3"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.base.node.mine.treeensemble2.model.TreeEnsembleModelPortObjectSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.base.node.mine.treeensemble2.model.TreeEnsembleModelPortObject"/>
            <entry key="port_object_summary" type="xstring" value="100 classifiers on 103 attributes"/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_3"/>
        </config>
    </config>
    <config key="internalObjects">
        <entry key="location" type="xstring" value="internalTables"/>
        <config key="content">
            <config key="object_0">
                <entry key="index" type="xint" value="0"/>
                <entry key="type" type="xstring" value="referenced_output"/>
                <entry key="outport" type="xint" value="3"/>
            </config>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
